<div class="userpanel container-fluid">
  <span *ngIf="used">
    <p class="text-center">
      <fa name="user-circle" size="4x"></fa>
    </p>
  </span>
  <h3 class="josefin text-center">{{name}}</h3>
  <h6 *ngIf="used" class="grey josefin marginbottom text-center">{{distance}} km</h6>
  <mat-accordion *ngIf="used" [multi]=true>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b class="comforta">Address</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{address}} </p>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]=true>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b class="comforta">Rating</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ngb-rating style="font-size: 1.5em;padding-right: 1em; outline: none" [readonly]=true [rate]="rating"></ngb-rating>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]=true>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b class="comforta">Sharing</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
       <app-add-request></app-add-request>
      </div>
      <app-lend-object *ngFor='let obj of sharing' [information]=true [lendObject]='obj' [selectable]='true'></app-lend-object>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
           <b class="comforta">Using</b>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-lend-object *ngFor='let obj of using' [information]=true [lendObject]='obj'></app-lend-object>
      </mat-expansion-panel>
    </mat-accordion>
</div>
