<div mat-dialog-content>
  <div class="ui form">
    <div class="field">
      <label class=ui>Object:</label>
      <app-lend-object [selected]='false' [selectable]='false' [lendObject]=data.object></app-lend-object>
    </div>
    <div class="row">
      <div class="noPadding field col-12 col-md-6">
        <label>Owner:</label>
        <div>
          <fa name=user-circle size=2x></fa>
          <h5 class="josefin inline">{{data.object.owner.name}}</h5>
        </div>
      </div>
      <div class="noPadding field col-12 col-md-6">
          <label>Current User:</label>
          <div>
            <fa *ngIf=data.object.user name=user-circle size=2x></fa>
            <h5 [ngClass]={smallerFont:!data.object.user} class="inline josefin">{{data.object.user?.name||" No current user"}}</h5>
          </div>
        </div>
    </div>
    <div *ngIf=data.object.rules class="field">
      <label>Rules:</label>
      <textarea class='font-black' [rows]="data.object.rules!==undefined?5:1" readonly="">{{data.object.rules||""}}</textarea>
    </div>
    <label *ngIf='data.object.waitinglist.length>0||data.object.user'>Waitinglist:</label>
    <div *ngIf='data.object.waitinglist.length>0||data.object.user' class="field waitinglist">
        <div *ngIf=data.object.user class='ui full green card padding'>
          <div class="josefin padding">  
            {{data.object.user.name}} from {{data.object.user.fromdate|date:'dd/MM/yyyy'}} to {{data.object.user.todate|date:'dd/MM/yyyy'}}
          </div> 
        </div>
        <div class='ui full card padding' *ngFor='let usage of data.object.waitinglist'>
            <div class="josefin padding">{{usage.name}} from {{usage.fromdate|date:'dd/MM/yyyy'}} to {{usage.todate|date:'dd/MM/yyyy'}}</div>
        </div>
    </div>
  </div>
</div>
