<div class="card" [ngClass]="{'selected': selected&&selectable}" (click)="select()">
  <div class="row rowfix">
    <div class="cardcolumn">
      <div class="item-icon wrapper" [ngClass]="{'blue': isTempAvailable,'green':isAvailable,'yellow':isUsed,'orange':isHeavilyUsed,'red':isVeryHeavilyUsed}">
        <fa class="yourdiv" [name]=type size="3x"></fa>
      </div>
    </div>
    <div class="cardcolumn flexible">
      <div class="item-text">
       <strong class="item-title">{{name}}</strong>
        <p>{{description}}</p>
      </div>
    </div>
    <div class="">
      <div class="usericon">
        <fa name="user-circle" size="1.5x"></fa>
        <div class="usernumber">{{waiting}}</div>
      </div>
    </div>
  </div>
</div>
