.item-icon{
    border-radius: 5px;
    padding: 5px;
    padding-top: 8px;
    width: 60px;
    height: 60px;
    margin: 10px;
   
}
.item-text{
    height: 60px;
    margin: 10px;
    text-overflow: elpsis;
}
.item-available{
    margin-top: 30px;
    margin-bottom: 30px;
}

.flexible {
 width: calc(100% - 90px);
 margin-left: -10px;
}

.item-title{
    margin: 0px;
}

.cardcolumn{
    padding: 0px; 
}

.usericon {
    position: absolute;
    top: 25px !important;
    right: 3px;
    font-size: 1.5em;
    width: 20px;
    height: 20px;
    top: 0px;
}

.usernumber {
    width: 100%;
    font-size: small;
    position: absolute;
    text-align: center;
}

.rowfix{
     margin: 0px
}

.green{
    background-color: #5cbb80fa;}

.yellow{
    background-color: #ffe865fa;
}

.orange{
    background-color: #ffa149;
}

.red{
    background-color: #ff5e5e;
}

.blue{
    background-color: #17a2b8;
}
.selected{
    background-color: rgb(231, 231, 231) !important;
}

.wrapper {
    text-align: center;
}
.yourdiv {
    display: inline-block;
}

.users {
    position: absolute;
    top: 48px;
    font-size: 12px;
    left: 3px;
}

.expired {
    background-color: lightcoral;
}




