.margin {
    margin-bottom: 10px !important;
}

.text-size-1 {
    padding: 5px;
    font-size: 15px;
}

.text-size-2 {
    padding: 5px;
    font-size: 12px;
}

.selected {
    background-color: gainsboro;
}

.conflict {
    background-color: rgb(245, 164, 164);
}

.approved {
    background-color: rgb(198, 248, 188);
}

