<div (ngDoubleClick)=remove() (click)="send()" class="full margin ui card" [ngClass]={selected:selected,conflict:conflict||dissaproved,approved:approved}>
  <div class="text-size-1 josefin text-center">{{source}} <fa name="arrow-right" size="1x"></fa>{{target}}</div>
  <app-lend-object #component [lendObject]="object" *ngIf=object [information]=object.expired></app-lend-object>
  <div class="text-size-2 josefin text-center">{{fromdate|date:'dd/MM/yyyy'}} - {{todate|date:'dd/MM/yyyy'}} <i *ngIf=returned class="text-size-2 josefin text-center">Returned</i></div>
</div>