/* You can add global styles to this file, and also import other style files */
@import "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px }

.sharingbutton{
    font-size: 0.8em;
    width: 100%;
    margin-bottom: 15px;
    outline: none !important;
    box-shadow: none;
}

.sharingbutton:focus{
    font-size: 0.8em;
    width: 100%;
    margin-bottom: 15px;
    outline: none !important;
    box-shadow: none;
}