.searchbar{
    position: absolute;
    left: 0px;
    z-index: 20;
    width: 100%;
    animation: appear 0.5s;
  }

  .close {
    animation: dissappear 0.5s;
    opacity: 0;
  }

select {
    height: 44px !important;
    border-radius: 0px !important;
    padding: 0px !important;
    width: 25% !important;
  }
  
  .custum_input{
    width: 50% !important;
  }

  .position{
    position: absolute;
    left: 0px;
    z-index: 20;
  }

  .white {
      background-color: white
  }

  @keyframes appear {
   from  {opacity: 0;}
   to  {opacity: 1;}
  }

  @keyframes dissappear {
    from  {opacity: 1;}
    to  {opacity: 0;}
   }
  