<div class="userpanel container-fluid">
  <span *ngIf="display">
    <p class="text-center">
      <fa name="user-circle" size="4x"></fa>
    </p>
  </span>
  <h3 class="josefin marginbottom text-center">{{name}}</h3>
  <mat-accordion [multi]=true>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
         <b class="comforta">Address</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{address}} </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
         <b class="comforta">Rating</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ngb-rating style="font-size: 1.5em;padding-right: 1em; outline: none;" [readonly]=true [rate]="rating"></ngb-rating>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
         <b class="comforta">Sharing</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row">
          <app-add-lend-object class="col-6 noPaddingRight"></app-add-lend-object>
          <app-delete-lend-object class="col-6 noPaddingLeft"></app-delete-lend-object>
      </div>
        <app-lend-object *ngFor='let obj of sharing' [information]=true [lendObject]='obj'></app-lend-object>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
         <b class="comforta">Using</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <app-return-lend-object> </app-return-lend-object>   
      </div>
    <app-lend-object *ngFor='let obj of using' [information]=true [lendObject]='obj'></app-lend-object>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
         <b class="comforta">My Requests</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row">
          <div class="col-12 noPaddingRight">
              <button [disabled]=!refreshB2 (click)=refreshOutRequests() class="sharingbutton btn-border btn btn-light btn-lg"> <fa name="refresh" size="2x"></fa><br>Refresh</button>
          </div>
      </div>
      <app-request (click)=removeOutRequest(req) *ngFor='let req of outRequests'[request]='req'></app-request>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
         <b class="comforta">Requests for me</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row">
        <div class="col-6 noPaddingRight">
            <button [disabled]=!refreshB1 (click)=refreshInRequests() class="sharingbutton btn-border btn btn-light btn-lg"> <fa name="refresh" size="2x"></fa><br>Refresh</button>
        </div>
        <div class="col-6 noPaddingLeft">
          <app-approve-request></app-approve-request>
            <!-- <button class="sharingbutton btn-border btn btn-light btn-lg "><fa name="hand-paper-o" size="2x"></fa><br>Approve Request</button> -->
        </div>
      </div>
      <app-request (click)=removeInRequest(req) *ngFor='let req of inRequests'[request]='req' [selectable]></app-request>
    </mat-expansion-panel>
  </mat-accordion>
</div>

