<div class="userpanel container-fluid">
  <span *ngIf="display">
    <p class="text-center">
      <fa name="user-circle" size="4x"></fa>
    </p>
  </span>
  <h3 class="text-center">{{name}}</h3>
  <mat-accordion [multi]=true>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
         <b>Address</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{address}} </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
         <b>Rating</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ngb-rating style="font-size: 1.5em;padding-right: 1em; outline: none" [rate]="3"></ngb-rating>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
         <b>Sharing</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row">
          <app-add-lend-object class="col-6 noPaddingRight"></app-add-lend-object>
          <app-delete-lend-object class="col-6 noPaddingLeft"></app-delete-lend-object>
      </div>
        <app-lend-object *ngFor='let obj of sharing' [information]=true [lendObject]='obj'></app-lend-object>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
         <b>Using</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <button class="sharingbutton btn-border btn btn-dark btn-lg"> <fa name="handshake-o" size="2x"></fa><br>Return</button>
    </div>
    <app-lend-object *ngFor='let obj of using' [information]=true [lendObject]='obj'></app-lend-object>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
         <b>My Requests</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-request *ngFor='let req of outRequests'[request]='req'></app-request>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
         <b>Requests for me</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <button class="sharingbutton btn-border btn btn-light btn-lg "><fa name="hand-paper-o" size="2x"></fa><br>Approve Request</button>
      </div>
      <app-request *ngFor='let req of inRequests'[request]='req'></app-request>
    </mat-expansion-panel>
  </mat-accordion>
</div>

