/* You can add global styles to this file, and also import other style files */
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:700|Josefin+Slab|Poiret+One');
html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px }
label {font-weight: bold};
/* general */

.noPadding{
    padding: 0px !important;
}
.padddingleft{
    padding-left: 4px;
}

.paddingright{
    padding-right: 4px;
}

.marginbottom{
    margin-bottom: 0.75em;
}

.full{
    width: 100% !important;
}

.half {
    width: 50% !important;
}

/* fonts & titles */
.poiret {
    font-family: 'poiret one'
}

.josefin {
    font-family: 'Josefin Slab'
}

.comforta{
    font-family: 'Comfortaa'
}

p { 
    font-family: 'Raleway'
}

label,button {
    font-family: 'Comfortaa' !important;
}

/* buttons */

.sharingbutton{
    font-size: 0.8em;
    width: 100%;
    margin-bottom: 15px;
    outline: none !important;
    box-shadow: none;
}

.sharingbutton:focus{
    font-size: 0.8em;
    width: 100%;
    margin-bottom: 15px;
    outline: none !important;
    box-shadow: none;
}

.btn-border{
    border: 1px solid lightgray
}

.noPaddingLeft {
    padding-left: 5px;
}

.noPaddingRight {
    padding-right: 5px;
}

/* colors */

.green {
    background-color: rgb(14, 194, 14);
}

.red {
    background-color: rgb(206, 7, 7);
}

/* animations */

@keyframes appear {
    from  {opacity: 0;}
    to  {opacity: 1;}
   }
 
@keyframes dissappear {
     from  {opacity: 1;}
     to  {opacity: 0;}
    }